<div class="auth-container">
  <div class="bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
  </div>

  <div class="auth-card">
    <div class="header-section">
      <i class="fas fa-anchor marine-icon"></i>
      <h2>LOGIN</h2>
      <p class="subtitle">Join our shop</p>
    </div>
    
    <form (ngSubmit)="login()">
      <div class="input-group">
        <label for="email">
          <i class="fas fa-envelope"></i>
          Email Address
        </label>
        <input 
          type="email" 
          id="email" 
          [(ngModel)]="email" 
          name="email" 
          placeholder="captain@marineshop.com"
          required>
      </div>
      
      <div class="input-group">
        <label for="password">
          <i class="fas fa-lock"></i>
          Password
        </label>
        <input 
          type="password" 
          id="password" 
          [(ngModel)]="password" 
          name="password" 
          placeholder="Password"
          required>
      </div>
      
      <div class="error-message" *ngIf="errorMsg">
        <i class="fas fa-exclamation-triangle"></i>
        {{ errorMsg }}
      </div>
      
      <button type="submit" class="signup-button">
        <i class="fas fa-ship"></i>
        Login
      </button>
      
      <div class="toggle-link">
        Do not have an account? 
        <a href="/signup" (click)="navigateToSignup($event)">
        <i class="fas fa-compass"></i>
            Navigate to Signup
        </a>
      </div>
    </form>
  </div>
</div>